<div class="page-header">
  <h1><a href="/">mongov</a></h1>
</div>

<div class="alert-message block-message">
  <h2>Sorry. Could not connect to mongo.</h2>
  <p>Are you sure <code>mongod</code> is running?</p>
</div>