<html>
  <head>
    <title>mongov</title>
    <link rel="stylesheet" href="/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/mongov.css" type="text/css" />
  </head>
  <body>
    <div class="container-fluid">
    <%= yield %>
    </div>
  </body>
</html>